In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('../Data-raw/Fertilizer.csv')

In [10]:
df = df.drop(columns=['Unnamed: 0'])

                  Crop    N   P   K    pH
0                 Rice   80  40  40  5.50
1       Jowar(Sorghum)   80  40  40  5.50
2          Barley(JAV)   70  40  45  5.50
3                Maize   80  40  20  5.50
4     Ragi( naachnnii)   50  40  20  5.50
...                ...  ...  ..  ..   ...
1838       Lemon Grass   25  40  40  5.32
1839            Cotton  120  40  20  5.32
1840              Jute   80  40  40  5.32
1841            Coffee  100  20  30  5.32
1842         Sunflower   50  60  30  5.32

[1843 rows x 5 columns]

In [40]:
l = ['Rice','Maize','Chickpeas(Channa)','Kidney beans','pigeon peas(Toor Dal)','Moth bean(Matki)','Mung beans','Black Gram','Lentils(Masoor Dal)','Pomegranate','Banana','Mango','Grapes','Water Melon',
'Musk Melon','Apple','Orange','Papaya','Coconut','Cotton','Jute','Coffee']

In [41]:
df1 = df.groupby('Crop').mean()

In [42]:
df1

                              N      P      K   pH
Crop
Almond Nut                 70.0   20.0   10.0  6.0
Aniseed                   100.0   50.0   20.0  5.0
Apple                      20.0  125.0  200.0  6.5
Apricot                    40.0   50.0   25.0  6.5
Arecanut                  100.0   40.0  140.0  6.0
...                         ...    ...    ...  ...
Turmeric                   25.0   60.0  100.0  5.0
Water Melon               100.0   10.0   50.0  5.5
Ziziphus mauritiana(Bor)   20.0   10.0   10.0  6.0
pigeon peas(Toor Dal)      20.0   60.0   20.0  5.5
sesame seed                30.0   15.0   30.0  6.5

[97 rows x 4 columns]

In [43]:
for i in df1.index:
    if i not in l:
        df1 = df1.drop(i)

df1

                           N      P      K   pH
Crop
Apple                   20.0  125.0  200.0  6.5
Banana                 100.0   75.0   50.0  6.5
Black Gram              40.0   60.0   20.0  5.0
Chickpeas(Channa)       40.0   60.0   80.0  5.5
Coconut                 20.0   10.0   30.0  5.0
Coffee                 100.0   20.0   30.0  5.5
Cotton                 120.0   40.0   20.0  5.5
Grapes                  20.0  125.0  200.0  4.0
Jute                    80.0   40.0   40.0  5.5
Kidney beans            20.0   60.0   20.0  5.5
Lentils(Masoor Dal)     20.0   60.0   20.0  5.5
Maize                   80.0   40.0   20.0  5.5
Mango                   20.0   20.0   30.0  5.0
Moth bean(Matki)        20.0   40.0   20.0  5.5
Mung beans              20.0   40.0   20.0  5.5
Musk Melon             100.0   10.0   50.0  5.5
Orange                  20.0   10.0   10.0  4.0
Papaya                  50.0   50.0   50.0  6.0
Pomegranate             20.0   10.0   40.0  5.5
Rice                    80.0   40.0   40.0  5.5
Water Melon            100.0   10.0   50.0  5.5
pigeon peas(Toor Dal)   20.0   60.0   20.0  5.5

In [44]:
len(df1)

22

In [46]:
df1.to_csv('../Data-processed/fertilizer.csv')